*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4fe7e7;
    color: #39e079;
    line-height: 1.6;
    padding: 20px;
}
h1, h2, h3{
    margin-bottom: 15px;
}
a{
    color: #f1ca19;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}